.bookCardContainer {
  height: fit-content;
  width: 190px;
  display: block;
  margin: 10px;
  border-radius: 15px;
}

.imgBookCard {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    cursor: pointer;
  }
}

// MOBILE SCREEN

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .bookCardContainer{
    width: 40vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 860px) {
  .bookCardContainer{
    width: 28vw;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1200px) {
  .bookCardContainer{
    width: 21vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1380px) {
  .bookCardContainer{
    width: 14vw;
  }
}

@media only screen and (min-width: 1380px) and (max-width: 1535px) {
  .bookCardContainer{
    width: 12vw;
  }
}
