.bookCardContainer {
  height: fit-content;
  width: 200px;
  display: block;
  margin: 10px;
  border-radius: 15px;
}

.imgBookCard {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    cursor: pointer;
  }
}

// .txtBookCardTitle {
//   width: 75%;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }